<!doctype html>
<html>
  <head>
    <meta http-Equiv="Cache-Control" Content="no-cache" />
    <meta http-Equiv="Pragma" Content="no-cache" />
    <meta http-Equiv="Expires" Content="0" />
    <script src="jquery.js"></script> 
    <script> 
    $(function(){
      $("#includedContent").load(map); 
    });
    </script>
    <title>Book-Club U.S. COVID-19 Map</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
      function refreshIframe() {
        document.getElementById("map").contentDocument.location.reload(true);
      }
    </script>
    
  </head>
  <body onload="setInterval(refreshIframe(), 100);">

    <h1>Book-Club U.S. COVID-19 Map</h1>
    
    <iframe src = "{{ url_for('static', filename='new.html') }}" width="90%" height="600" id="map" name="map">
      I messed up somehow... again...
    </iframe>

    <form name="selection" id="selecton" method="POST">
      <label for="date_picker">Date:</label>

      <input type="date" id="date_picker" name="selected-date"
       value="2020-04-25"
       min="2020-01-20" max="2020-05-01">

       <p><input type = "submit" value = "submit" /></p>
    </form>

    <button onclick="refreshIframe();">Refresh Iframe</button>

    <h2> Shown Date(yyyy-mm-dd): {{result}} </h2>

  </body>

</html>